<link rel="stylesheet" href="/css/style.css" type="text/css">

<nav>
    
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="newCall">New Call</a></li>
      <li><a href="searchCalls">Search Calls</a></li>
    </ul>
</nav>

