<html>
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
   


    <% include ../views/partials/nav %>
    <table>
        <thead>
            <tr>
                <th>Created At</th>
                <th>Caller's Name</th>
                <th>Email Address</th>
                <th>Call Type</th>
                
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<calls.length; i++) {%>
            <tr>
                <td>Created at</td>
                <td><%= calls[i].name %></td>
                <td><%= calls[i].emailAddress %></td>
                <td>Type of call</td>
            </tr>
            <% } %>
        </tbody>
    </table>
    
</body>
</html>