<html>
<head>
    <link rel="stylesheet" href="../client/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
   

</body>
    <% include ../views/partials/nav %>
    Return open calls here.
    
</html>