<html>
<head>
    <link rel="stylesheet" href="../client/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
   <% include ../views/partials/nav %>

         <form action="newCall" method="POST">
             <label for="name">Name:</label>
             <input type="text" name="name" placeholder="name">
             <br>
             <label for="email">Email:</label>
             <input type="text" name="emailAddress" placeholder="Email Address">
             <br>
             <button type="Submit">Submit</button>
         </form>
 
</body>
    
    
</html>